<app-viewtask (onInpDis)="onInpDis($event)"></app-viewtask>

<div class="row">
  <div class="col" [ngStyle]="{
          textAlign: 'center',
          display: (inputDisabled || timeTask.inputDisabled) ? 'none' : 'block'
        }">
    x<sub>1</sub> =
    <mat-form-field style="width: 5rem;">
      <mat-label>Первый корень</mat-label>
      <input
        matInput
        [(ngModel)]="inputsAns.X1"
        name="answer"
        style="text-align: center"
        (keyup.enter)="onX1Enter()"
        appAutofocus
        #inpX1
      >
    </mat-form-field>
    &nbsp;&nbsp;
        x<sub>2</sub> =
    <mat-form-field style="width: 5rem;">
      <mat-label>Второй корень</mat-label>
      <input
        matInput
        [(ngModel)]="inputsAns.X2"
        name="answer"
        style="text-align: center"
        (keyup.enter)="onX2Enter()"
        #inpX2
      >
    </mat-form-field>
    <button class="mybtn" (click)="checkAnswer()" [ngStyle]="{
          marginTop: '0.3rem',
          display: (answerHints.res !== 'Неправильно!' || answerHints.m5 === 'Правильно!') ? 'inline-block' : 'none'
        }">Ответить</button>
    <button class="mybtn" (click)="showHint()" [ngStyle]="{
          marginTop: '0.3rem',
          display: (answerHints.res === 'Неправильно!' && answerHints.m5 !== 'Правильно!') ? 'inline-block' : 'none'
        }">Решить с подсказками</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <p [ngStyle]="{
        textAlign: 'center',
        marginTop: '0.5rem',
        color: (answerHints.res === 'Правильно!') ? 'green' : 'red'
    }">{{answerHints.res}}<br />{{answerHints.complete}}</p>
    <p *ngIf="timeTask.inputDisabled" class="p-complete">{{timeTask.complete}}</p>
  </div>
</div>
<div class="row div-center" *ngIf="levelHint(1)">
  <div class="col">
   <p>Определите коэффициенты квадратного уравнения:</p>
    a =
    <mat-form-field style="width: 3rem;">
      <mat-label>a</mat-label>
      <input
        matInput
        [(ngModel)]="inputsAns.A"
        name="answerA"
        style="text-align: center"
      >
    </mat-form-field>
    b =
    <mat-form-field style="width: 3rem;">
      <mat-label>b</mat-label>
        <input
          matInput
          [(ngModel)]="inputsAns.B"
          name="answerB"
          style="text-align: center"
        >
    </mat-form-field>
    c =
    <mat-form-field style="width: 3rem;">
      <mat-label>c</mat-label>
        <input
          matInput
          [(ngModel)]="inputsAns.C"
          name="answerC"
          style="text-align: center"
        >
    </mat-form-field>
    <button class="mybtn" (click)="checkABC()">Проверить</button>
    <p [ngStyle]="{
            textAlign: 'center',
            color: (answerHints.m1 === 'Правильно!') ? 'green' : 'red'
          }">{{answerHints.m1}}</p>
  </div>
</div>
<div class="row div-center" *ngIf="levelHint(2)">
  <div class="col">
    <p>Посчитайте дискриминант квадратного уравнения</p>
    <div mathjax>
      $$
      D = b^2 - 4 \cdot a \cdot c
      $$
    </div>
    <mat-form-field style="width: 5rem;">
      <mat-label>Дискриминант</mat-label>
      <input
        matInput
        [(ngModel)]="inputsAns.Disc"
        name="answerDisc"
        style="text-align: center"
      >
    </mat-form-field>
    <button class="mybtn" (click)="checkDisc()">Проверить</button>
    <p [ngStyle]="{
            textAlign: 'center',
            color: (answerHints.m2 === 'Правильно!') ? 'green' : 'red'
          }">{{answerHints.m2}}</p>
  </div>
</div>
<div class="row div-center" *ngIf="levelHint(3)">
  <div class="col">
    <p>Найдите корень из дискриминанта</p>
    <div mathjax>
      \( \sqrt D \) =

      <mat-form-field style="width: 9rem;">
        <mat-label>Корень из дискриминанта</mat-label>
        <input
          matInput
          [(ngModel)]="inputsAns.SqDisc"
          name="answerDisc"
          style="text-align: center"
        >
      </mat-form-field>
        <button class="mybtn" (click)="checkSqDisc()">Проверить</button>
    </div>
    <p [ngStyle]="{
            textAlign: 'center',
            color: (answerHints.m3 === 'Правильно!') ? 'green' : 'red'
          }">{{answerHints.m3}}</p>
  </div>
</div>
<div class="row div-center" *ngIf="levelHint(4)">
    <div class="col">
      <p>Посчитайте первый корень</p>
       <div [mathjax]>
          \( x = \frac{{'{'}}- b - \sqrt D{{'}'}}{{'{'}}2 a{{'}'}} \) =
         <mat-form-field style="width: 3rem;">
           <mat-label>x1</mat-label>
           <input
             matInput
             [(ngModel)]="inputsAns.X1new"
             name="answerX1new"
             style="text-align: center"
           >
         </mat-form-field>
<!--          <input-->
<!--            type="text"-->
<!--            size="4"-->
<!--            [(ngModel)]="inputsAns.X1new"-->
<!--            placeholder="x1"-->
<!--          >-->
          <button class="mybtn" (click)="checkX1new()">Проверить</button>
       </div>
          <p [ngStyle]="{
            textAlign: 'center',
            color: (answerHints.m4 === 'Правильно!') ? 'green' : 'red'
            }">{{answerHints.m4}}</p>
  </div>
</div>
<div class="row div-center" *ngIf="levelHint(5)">
  <div class="col">
    <p>Посчитайте второй корень</p>
    <div [mathjax]>
      \( x = \frac{{'{'}}- b + \sqrt D{{'}'}}{{'{'}}2 a{{'}'}} \) =
      <mat-form-field style="width: 3rem;">
        <mat-label>x2</mat-label>
        <input
          matInput
          [(ngModel)]="inputsAns.X2new"
          name="answerX2new"
          style="text-align: center"
        >
      </mat-form-field>
<!--      <input-->
<!--        type="text"-->
<!--        size="4"-->
<!--        [(ngModel)]="inputsAns.X2new"-->
<!--        placeholder="x2"-->
<!--      >-->
      <button class="mybtn" (click)="checkX2new()">Проверить</button>
    </div>
    <p [ngStyle]="{
            textAlign: 'center',
            color: (answerHints.m5 === 'Правильно!') ? 'green' : 'red'
            }">{{answerHints.m5}}</p>
  </div>
</div>
<div class="row div-center" *ngIf="levelHint(6)">
  <div class="col">
    <p style="color: green">Все корни найдены верно! Введите их в поля x<sub>1</sub> и x<sub>2</sub> под заданием
      в верху страницы, нажмите кнопку "Ответить"
      и переходите к следующему уравнению</p>
  </div>
</div>

<app-showprogress [scoreData]="scoreSqEqData"></app-showprogress>

<div class="row">
  <div class="col-12 div-visited"><small class="small-hint">Количество просмотров: {{t.visited}}</small></div>
</div>
