<app-viewtask [viewData]="viewGroupZData"></app-viewtask>

<div class="row">
  <div class="col-12" [ngStyle]="{
          textAlign: 'center'
        }">
    <input
      *ngIf="!viewGroupZData.inputDisabled"
      type="text"
      (keyup.enter)="checkAnswer($event)"
      [(ngModel)]="valueAnswerText"
      placeholder="Ответ" #answerText><br />
    <span style="font-size: 0.8rem; color: #777777" *ngIf="!viewGroupZData.inputDisabled"> Введите ответ и нажите Enter</span>
    <p [ngStyle]="{
            color: isAnswerRight ? 'green' : 'red'
          }"><strong>{{answerRecense}}</strong></p>

  </div>
</div>

<app-showprogress [scoreData]="scoreGroupZData"></app-showprogress>
