<app-viewtask [viewData]="viewLinearData"></app-viewtask>

<div class="row">
  <div class="col-12 div-center" *ngIf="!timeTask.inputDisabled && !viewLinearData.inputDisabled">
    <form>
      <mat-form-field>
        <mat-label>Введите ответ и нажмите Enter</mat-label>
        <input
          matInput
          [(ngModel)]="ans"
          (keyup.enter)="checkAns()"
          style="text-align: center"
          name="answer" #inputAns
        >
      </mat-form-field>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12" [ngStyle]="{
        textAlign: 'center',
        color: (ansHints.res === 'Правильно!') ? 'green' : 'red'
    }">
    <p>{{ansHints.res}}</p>
    <p>{{ansHints.complete}}</p>
    <p *ngIf="timeTask.inputDisabled" class="p-complete">{{timeTask.complete}}</p>
  </div>
</div>

<app-showprogress [scoreData]="scoreLinearData"></app-showprogress>
<div class="row">
  <div class="col-12 div-visited"><small class="small-hint">Количество просмотров: {{t.visited}}</small></div>
</div>
