<div class="row">
    <div class="col-md-10">

    <nav class="navbar navbar-expand-md">

      <div class="collapse navbar-collapse">
        <ul ngbNav class="navbar-nav mr-auto">
          <li ngbNavItem>
            <a ngbNavLink routerLink="/multtab">Таблица умножения</a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"
               id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" appMenu>Целые числа</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a ngbDropdownItem class="dropdown-item" routerLink="/groupz">Сложение и вычитание</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/ringz">Умножение и деление</a>
            </div>
          </li>
          <li ngbDropdown class="nav-item">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"
               id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false" appMenu>Дроби</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
              <a ngbDropdownItem class="dropdown-item" routerLink="/groupq">Сложение и вычитание</a>
              <a ngbDropdownItem class="dropdown-item" routerLink="/groupqm">Умножение и деление</a>
            </div>
          </li>
          <li ngbNavItem class="nav-item">
            <a ngbNavLink class="nav-link"  routerLink="/squareeq">Квадратные уравнения</a>
          </li>
        </ul>
      </div>
    </nav>

      <router-outlet></router-outlet>
    </div>

  <div class="col-md-2"><p>Время выполнения:<br />{{timeTask.timeStr}}</p></div>
</div>
