<app-viewtask [viewData]="viewData"></app-viewtask>

<div class="row">
  <div class="col-12" >
    <div  *ngIf="!viewData.inputDisabled">
      <table class="center">
        <tr>
          <td class="td-center">
            <input
              type="text"
              class="small-input"
              placeholder="числ"
              (keyup.enter)="nomEnter()"
              [(ngModel)]="fracA.nominA" #nominatorInput
            ></td>
          <td rowspan="3"><button class="valign mybtn" (click)="denEnter()">Ответить</button></td>
        </tr>
        <tr>
          <td><div class="black-line">&nbsp;</div></td>
        </tr>
        <tr>
          <td class="td-center">
            <input
              type="text"
              class="small-input"
              placeholder="знам"
              (keyup.enter)="denEnter()"
              [(ngModel)]="fracA.denomA"  #denominatorInput></td>
        </tr>
      </table>
    </div>
    <p [ngStyle]="{
            textAlign: 'center',
            marginTop: '0.5rem',
            color: isAnswerRight ? 'green' : 'red'
          }">{{answerRecense}}<br />{{answerComplete}}</p>
  </div>
</div>

<app-showprogress [scoreData]="scoreGQData"></app-showprogress>
