<app-viewtask (onInpDis)="onInpDis($event)"></app-viewtask>

<div class="row">
  <div class="col-12" >
    <div  *ngIf="!inputDisabled && !timeTask.inputDisabled">
      <table class="center">
        <tr>
          <td class="td-center">
            <form>
              <mat-form-field class="small-input">
                <mat-label>Числитель</mat-label>
                <input
                  style="border: none; text-align: center; padding: 0"
                  matInput
                  [(ngModel)]="fracAns.nominAns"
                  (keyup.enter)="nomEnter()"
                  name="answer"
                  #nominatorInput
                >
              </mat-form-field>
            </form>
          </td>
          <td rowspan="3"><button class="valign mybtn" (click)="denEnter()">Ответить</button></td>
        </tr>
        <tr>
          <td><div class="black-line">&nbsp;</div></td>
        </tr>
        <tr>
          <td class="td-center">
            <form>
              <mat-form-field class="small-input">
                <mat-label>Знаменатель</mat-label>
                <input
                  style="border: none; text-align: center; padding: 0"
                  matInput
                  [(ngModel)]="fracAns.denomAns"
                  (keyup.enter)="denEnter()"
                  name="answer"
                  #denominatorInput>
              </mat-form-field>
            </form>
<!--            <input-->
<!--              type="text"-->
<!--              class="small-input"-->
<!--              placeholder="знам"-->
<!--              (keyup.enter)="denEnter()"-->
<!--              [(ngModel)]="fracAns.denomAns"  #denominatorInput>-->
          </td>
        </tr>
      </table>
    </div>
    <p [ngStyle]="{
            textAlign: 'center',
            marginTop: '0.5rem',
            color: isAnswerRight ? 'green' : 'red'
          }">{{answerRecense}}<br />{{answerComplete}}</p>
    <p *ngIf="timeTask.inputDisabled" class="p-complete">{{timeTask.complete}}</p>
  </div>
</div>

<app-showprogress [scoreData]="scoreData"></app-showprogress>

<div class="row">
  <div class="col-12 div-visited"><small class="small-hint">Количество просмотров: {{t.visited}}</small></div>
</div>
